.casesTable td, th {
	font-size: 10px;
	empty-cells: show;
}

.casesTable tbody tr td {
	padding: 3px;
	white-space: nowrap;
}

.casesTable tbody tr td a {
	font-size: 10px;
	text-decoration: none;
}

.casesTable thead tr th {
	text-align: left;
	padding: 3px;
	font-weight: bold;
	color: #595A54;
	border-top: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
}

.casesTable tfoot tr td {
	text-align: left;
	padding: 3px;
	font-weight: bold;
	color: #595A54;
	border-top: 1px solid #D7D7D7;
	border-bottom: 1px solid #D7D7D7;
}

.casesTable .casesTable_oddRow {
	background-color: #EFEFEF;	
}

.casesTable .casesTable_evenRow {
	background-color: #FFFFFF;	
}

.statisticsLayer TH {
	width : 100px;
}

.statisticsLayer .name{
	width : 300px;
}

table.adminTable tbody tr {
	background-color: #E6E6E6;
	text-align: left;
}

table.adminTable tbody tr.isPrivate {
	background-color: #fff0cc;
}

table.adminTable tbody tr.isReview {
	background-color: #cce7ff;
}

table.adminTable tbody tr.isInFocal {
	background-color: #fff0cc;
}

table.adminTable thead tr {
	background-color: #C0E0FC;
	text-align: left;
}
table.adminTable th.firstColumn, table.adminTable td.firstColumn {
	padding-left: 17px;
}

ul.legend li.isPrivate {
	color: #f09e00;
}

ul.legend li.isReview {
	color: #0088ff;
}

ul.legend li.isInFocal {
	color: #75206E;
}

div.info div#phone, div.info div#email {
	float: right;
}

a.searchButton {
	background:transparent url(/content/files/public/style/images/buttons/blackLeftBlue.gif) no-repeat scroll left center;
	color:#FFFFFF;
	display:inline;
	/*float:left;*/
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	font-weight:bold;
	height:auto;
	line-height:20px;
	margin-right:8px;
	padding:0pt 0pt 0pt 6px;
	text-decoration:none;
	text-transform:uppercase;
	text-align: center;
}
a.searchButton:hover {
	background-image:url(/content/files/public/style/images/buttons/blueLeftBlue.gif);
}
a.searchButton span.buttonSpan {
	background:transparent url(/content/files/public/style/images/buttons/blackRightBlue.gif) no-repeat scroll right center;
	display:inline;
	/*float:left;*/
	line-height:20px;
	padding:0pt 24px 0pt 12px;
}
a.searchButton:hover span.buttonSpan {
	background-image:url(/content/files/public/style/images/buttons/blueRightBlue.gif);
}
div.searchSection {

}
div.tableSection {
	
}

table.adminTable tbody tr.selectedProject {
	background-color:#f09e00;
	text-align:left;
}
.focalErrorNotice {
}
.focalInfoNotice {
}